.new-training{
    position: relative;
    padding: 30px;
    height: 250px;

}

.content{
    padding-top: 10px;
}

.title{
    padding: 10px;
}

.buttons{
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    bottom: 20px;
    width: 100px; 

}