<div class="welcome" fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="20px" fxLayoutAlign="center center" >
    <!-- <mat-card>
        <h1 class="title">activity</h1>
        <p class="sub-title">Stay active and enjoy better health and fun!</p>
    </mat-card>
    <mat-card>
        <h1 class="title">community</h1>
        <p class="sub-title">Get to know new people and find new passions!</p>
    </mat-card>
    <mat-card>
        <h1 class="title">challenges</h1>
        <p class="sub-title">Don't stop! Feels good to challenge yourself.</p>
    </mat-card> -->
    <section>
        <h1 class="title">activity</h1>
        <p class="sub-title">Stay active and enjoy better health and fun!</p>
    </section>
    <section>
        <h1 class="title">community</h1>
        <p class="sub-title">Get to know new people and find new passions!</p>
    </section>
    <section>
        <h1 class="title">challenges</h1>
        <p class="sub-title">Don't stop! Feels good to challenge yourself.</p>
    </section>
</div>
